{% extends 'base.html'%} 
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="{% static 'css/style.css'%}" />
<link href="{% static 'css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="card mt-5">
            <div class="card-body p-5 sombra">
                <div class="titulo"></div>
                    <h2>Configuracion</h2><h4 class="text-warning">Clientes</h4>
                <div class="mt-5">
                    <a class="btn btn-success" href="{% url 'ServicioWEB:signup' %}">Agregar +</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="cliente"  class="col-12 col-md-10 offset-md-1">
        <div class="card mt-5">
            <div class="card-body p-5 sombra table-responsive">
                    <h1>Cliente</h1>
                    <br>
                    <table class="table table-hover table-sm">
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre Completo</th>
                            <th>Fono</th>
                            <th>Direccion</th>
                            <th>Email</th>
                            <th>Opciones</th>
                        </tr>
                        {% for c in clientes %}
                        <tr>
                            <td>{{c.username}}</td>
                            <td class="text-capitalize">{{c.cliente.nombre_cliente}} {{c.cliente.apellido_cliente}}</td>
                            <td>{{c.cliente.fono_cliente}}</td>
                            <td class="text-capitalize">{{c.cliente.direccion_cliente}}</td>
                            <td>{{c.email}}</td>
                            <td>
                                <a href="{% url 'ServicioWEB:perfilcli' c.username %}" class="btn btn-warning">Ver</a>
                            </td>
                        </tr>
                        {% endfor %}
                      </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="card mt-5">
            <div class="card-body p-5 sombra table-responsive">
                    <h1>Emails Procesados</h1>
                    <br>
                    <table class="table table-hover table-sm" id="email">
                        <tr>
                            <th>Email</th>
                            <th>Fecha</th>
                            <th>Opciones</th>
                        </tr>
                        {% for e in email %}
                        <tr>
                            <td>{{e.nombre}}</td>
                            <td>{{e.fecha}}</td>
                            <td>
                                <a href="{% url 'ServicioWEB:detalle_email' e.id%}" class="btn btn-warning">Ver</a>
                            </td>
                        </tr>
                        {% endfor %}
                      </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tab-table1" data-toggle="tab">Table 1</a>
            </li>
            <li>
                <a href="#tab-table2" data-toggle="tab">Table 2</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-table1">
                <table id="myTable1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Estado</th>
                            <th>Solicitante</th>
                            <th>Opciones</th>
                        </tr>
                       
                    </thead>
                </table>
            </div>
            <div class="tab-pane" id="tab-table2">
                <table id="myTable2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Extn.</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
<script>
$(document).ready(function () {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
    });
 
    $('table.table').DataTable({
        ajax: '../ajax/data/arrays.txt',
        scrollY: 200,
        scrollCollapse: true,
        paging: false,
    });
 
    // Apply a search to the second table for the demo
    $('#myTable1').DataTable().search('New York').draw();
});
$(document).ready(function () {
        $('#vehiculo').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            }
        });
    });
</script>
{% endblock extra_script %}
