<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RALE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{% static 'css/style.css'%}" />


  
</head>

<body>
  <nav class="navbar navbar-expand-lg p-3 bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">RALE</a>
      <h4 class="text-warning">{{request.user.username}}</h4>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav text-center ml-auto">
          {% if user.is_anonymous %}
          <a class="nav-link" href="/">Inicio</a>
          <a class="nav-link" href="/signup/">Registrarse</a>
          {% else %}
            <a class="nav-link active" aria-current="page" href="/ahome/">Home</a>
            <a class="nav-link" href="{% url 'ServicioWEB:modificarabogado' request.user.id %}">Editar perfil</a>
            <a class="nav-link" href="/signout/">Logout</a>
          {% endif %}
          
        </div>
      </div>
    </div>
  </nav>
  {% block content %} {% endblock %}
</body>
<br>
<br>
<br>
<div class="footer-clean">
  <footer>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Web design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Hosting</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Legacy</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <h3>Careers</h3>
          <ul>
            <li><a href="#">Job openings</a></li>
            <li><a href="#">Employee success</a></li>
            <li><a href="#">Benefits</a></li>
          </ul>
        </div>
        <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
              class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a
            href="#"><i class="icon ion-social-instagram"></i></a>
          <p class="copyright">Company Name © 2018</p>
        </div>
      </div>
    </div>
  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
{% for m in messages %}
<script>
          Swal.fire({
            text:"{{m}}",
            icon:""
          })
</script>
{% endfor %}
{% endif %}

</html>
