{% extends 'basecli.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django File Upload</title>

</head>
<link rel="stylesheet" href="{% static 'css/style.css'%}" />
<br><br><br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card p-2">
            <div class="card-body table-responsive">
                <h2 class="mb-4">Documentos</h2>
                <hr>
                <form action="" method="POST" enctype="multipart/form-data" class="forr" >
                    <form action="{% url 'cargarDoc' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input class="input-group-text mb-2" type="text" name="fileTitle" placeholder="Nombre del documento" required>
                        
                        <input class="form-control mb-2" type="file" name="uploadedFile">
                        
                    <div class="d-flex justify-content-end mt-2">
                        <input class="btn btn-danger mb-2" type="submit" value="Upload">
                    </div>
                    </form>
                    <br>
                    <br>
                    <br>
                    <h5>Documentos Cargados</h5>
                    <table class="table table-hover table-sm">
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha y Hora</th>
                            <th>Opciones</th>
                        </tr>
                        {% for file in documents %}
                            <tr>
                                <td>{{ file.titulo }}</td>
                                <td>{{ file.fecha_documento }}</td>
                                <td>
                                    <a href="{{ file.documento.url}}" class="btn btn-warning btn-sm" download >Descargar</a>
                                    <a href="{% url 'eliminardoc' file.id%}" class="btn btn-danger btn-sm">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

</html>
{% endblock %}