{% extends 'basecli.html'%}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <br><br><br><br>
        <div class="card mt-5">
            <div class="card-body p-5 sombra">
                <h2 class="mb-4 titulocli">Bienvenido a la plataforma RALE</h2>
                <div class="">
                    <h5 class="mt-5">A continuacion, presione un boton que lo direccionarara hacia su destino</h5>
                    <br><br><br><br>
                    <a href="{% url 'cargarDoc' %}" class="btn btn-primary">Cargar Documentos</a>
                    <a href="{% url 'miperfil' user.username %}" class="btn btn-warning">Mi Perfil</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}